* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .head-normal {
    position: sticky;
     top: 0; 
    z-index: 100;
  }
  .nav-normal {
    height: 10.3vh;
    background: black
  }
  .head-nulo {
    position: sticky; 
    z-index: 100;
  }
  .nav-nulo {
    height: 10.3vh;
    background: transparent;
    display: flex;
    position: relative;
  }
  .nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
     justify-content: center;
     height: 100%; 
     margin: auto; 
   }
  .nav-links li {
 
  }
  .link {
    list-style: none;
    text-decoration: none; 
    margin: 50px;
     font-size: 17px;
    font-weight: bold; 
    cursor: pointer; 
    color:white;
    margin-top: 40px;
    
  }
  .link-name { 
    
    font-weight: bold; 
     margin-top:-7.5px;
    color:white;
    position: absolute;
    margin-right: 80%;
    font-size:17px;
    list-style: none;
    text-decoration: none;
    
  }
  
  
  
  @media all and (max-width:760px) {
    .nav-links{
      display: none;
    }
    .head-normal {
      position: sticky;
       top: 0; 
      z-index: 100;
    }
    .nav-normal {
      height: 10.3vh;
      background: black
    }
    .head-nulo {
      position: sticky;
      top: 0; 
     z-index: 100;
    }
    .nav-nulo {
      height: 10.3vh;
   
    }
  
  }

    
  @media all and (max-width:560px) {
    .nav-links{
      display: none;
    }
    .head-normal {
      position: sticky;
       top: 0; 
      z-index: 100;
    }
    .nav-normal {
      height: 12.3vh;
      background: black
    }
    .head-nulo {
      position: sticky;
      top: 0; 
     z-index: 100;
    }
    .nav-nulo {
      height: 10.3vh;
   
    }
  
  }