* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .effect {
    background: black;
  }
  .titulos {
    display: flex;
    justify-content: center;
    font-family: "Pacifico", cursive;
  }
  .titulos h1 {
    font-size: 90px;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0 0 20px black, 2px -2px 3px black, -5px -12px 8px black;
    font-weight: 300;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
  }
  
  .card {
    position: relative;
    max-width: 380px;
    height: 200px;
    margin: 30px 10px;
    padding: 20px 15px;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 5px 10px black;
    display: flex;
    flex-direction: column;
    transition: 0.4s ease-in-out;
  }
  
  .card:hover  {
    height: 472px;
    background: rgba(0, 0, 0, 1);
  }
  .card-img {
    position: relative;
    height: 310px;
    width: 310px;
    top: -60px;
    left: 20px;
    z-index: 1;
  }
  .card-img img {
    position: relative;
    max-width: 100%;
    border-radius: 10px;
    width: 320px;
    height: 200px;
  }
  
  .projects-body {
    position: relative;
    margin-top: -150px;
    text-align: center;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.1s all ease-in-out;
    flex-flow: column;
    display: flex;
    font-family: "Rosarivo", serif;
    font-style: italic;
  }
  .projects-body button {
    text-transform: initial;
    font-size: 15px;
  }
  .card:hover .projects-body ,.card:focus .projects-body , .card:active .projects-body  {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.4s;
  }
  
  
  
  @media all and (max-width:450px){
  
    .titulos h1{
      font-size: 50px;
    }
    .card-img {
     
      height: 310px;
      width: 300px;
    
    }
    .card-img img {
   
      width: 230px;
      height: 200px;
    }
  
    .card{
      width: 300px;
    } 
  
    }
    
    @media all and (max-width:380px){
   
      .card-img { 
         width: 200px;
      
      }
      .card-img img { 
        width: 210px;
        margin-left:-13px;
      }
    
      .card{
        width: 240px;
      } 
    
      }
      @media all and (max-width:300px){
   
        .card-img { 
           width: 180px;
        
        }
        .card-img img { 
          width: 200px;
          margin-left:-13px;
        }
      
        .card{
          width: 200px;
        } 
 
      
        }
        
      